/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  background: pink;
}
nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
a {
  font-size: 2rem;
  text-decoration: none;
  color: grey;
  padding-top: 3rem;
}
.intro {
  padding-bottom: 3rem;
}
.intro h1 {
  font-size: 6rem;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  color: grey;
}
.intro h1::first-letter {
  color: red;
  font-size: 9rem;
  font-weight: bold;
}
.intro span {
  color: black;
}
.intro p {
  font-size: 3rem;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}
.intro hr {
  width: 15%;
}
.email {
  display: flex;
  flex-direction: column;
}
.email i {
  color: #1F85DE;
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact i {
  color: #EB4646;
}
.address {
  display: flex;
  flex-direction: column;
}
.address i {
  color: #EBDE46;
}
.profile {
  display: flex;
  flex-direction: column;
}
.profile i {
  color: #B146EB;
}
i {
  align-self: center;
  font-size: 4rem;
  color: grey;
}
.credentials {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  padding-top: 3rem;
  border-right: 1px solid black;
  margin-right: -54%;
  padding-left: 3rem;
  margin-top: 10rem;
  font-family: 'Margarine', cursive;
}
.credentials h2 {
  font-size: 2.5rem;
  padding-bottom: 3rem;
}
.credentials .education {
  padding-bottom: 3rem;
  font-size: 2rem;
}
.credentials .skills {
  padding-bottom: 3rem;
  font-size: 2rem;
}
.credentials .achievements {
  padding-bottom: 3rem;
  font-size: 2rem;
}
.halfline {
  display: flex;
}
.halfline .resume {
  font-size: 1.5rem;
  justify-content: space-evenly;
  margin-left: 1.5rem;
  padding-top: 3rem;
  padding-left: 23rem;
  margin-top: 10rem;
  font-family: 'Margarine', cursive;
}
.halfline .resume h2 {
  font-size: 2.5rem;
  padding-bottom: 3rem;
}
.halfline .resume .bio {
  font-size: 2rem;
  padding-bottom: 3rem;
}
.halfline .resume .exprience {
  font-size: 2rem;
  padding-bottom: 3rem;
}
.halfline .resume .company {
  font-size: 2rem;
  padding-bottom: 3rem;
}
.halfline .resume .company li {
  padding-bottom: 1rem;
}